footer {
    background-color: white;
    height: 60px;
    width: 100%;
    border-top: 1px;
    border-color: #cccccc;
    text-align: center;
    bottom: 0;
    position: fixed;
    border-style: solid;
}